<?xml version="1.0" encoding="utf-8"?>
<app>

	<network-interface>eth0</network-interface>

	<database>
		<host>172.20.52.48</host>
		<user>root</user>
		<password>root</password>
		<dbname>live_capture</dbname>
		<dbtype>mysql</dbtype>
	</database>

	<low-level-filter>tcp or udp</low-level-filter>

	<application-layer-filters>
		<rule>e-mail</rule>
		<rule>TencentQQ</rule>
	</application-layer-filters>
</app>
